.container-main, .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-main {
  height: 100%;

  .logo {
    img:first-child {
      @include _viewport(large){
        width: 90px;
      }
    }
  }

  .copy {
    font-family: DM Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    position: absolute;
    bottom: 30px;

    img {
      margin-top: 15px;
    }

    @include _viewport(large){
      font-size: 14px;
      line-height: 19px;
    }
  }
}
