@font-face {
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
}
* {
  box-sizing: border-box;
}
body {
  background: $bg;
  font-family: 'DM Serif Display', serif;
  height: 100vh;
  overflow: hidden;
  @media (max-width: 1180px){
    overflow: initial;
  }
}

a {
  text-decoration: none;
  color: #F4F4F4;
}

.bottom-mini-logo {
  @include _viewport(large){
    display: none;
  }
}
