@font-face {
  font-family: 'Woodland';
  src: url('fonts/PPWoodland-Regular.woff2') format('woff2'),
  url('fonts/PPWoodland-Regular.woff') format('woff'),
  url('fonts/PPWoodland-Regular.ttf') format('truetype');
}
* {
  box-sizing: border-box;
}
body {
  background: $bg;
  font-family: 'Woodland', sans-serif;
}

p {
  color: $orange;
}
