@font-face {
  font-family: 'Woodland';
  src: url('fonts/PPWoodland-Regular.woff2') format('woff2'),
  url('fonts/PPWoodland-Regular.woff') format('woff'),
  url('fonts/PPWoodland-Regular.ttf') format('truetype');
}

body {
  background: $bg;
  font-family: 'Woodland', sans-serif;
  text-transform: uppercase;
}

p, li {
  color: $pink;
}

.poppa {
  border-radius: 50%;
  background: $pink;
  width: 100px;
  height: 100px;
}
