.info {
  padding: 40px;
  animation: 0.6s ease-in-out 0s 1 normal none running info;

  p {
    font-size: 16px;
    color: $orange;
    margin-bottom: 20px;
  }
  li, span {
    font-size: 16px;
    color: $pink;
    line-height: 20px;
    margin-bottom: 20px;
  }
  span {
    display: block;
    line-height: 25px;
  }

  .info__news{
    margin-bottom: 40px;
    span {
      margin-bottom: 20px;
    }
  }

}

@media (max-width: 768px){
  .info{
    padding-top: 0px;
  }
}

@keyframes info {
  0% {
    opacity: 0;
    transform: translateY(20px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

.contact{
  margin: 40px 0;
}
.by{
  position: fixed;
  bottom: 40px;
  small{
    color: $pink;
  }
  @media (max-width: 1180px){
    position: inherit;
  }
}

