.playerModal{
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $gbModal;
  position: relative;
  z-index: 9;
  iframe{
    width:80%;
    height:80%;
  }

  .close{
    position: fixed;
    right: 40px;
    top: 40px;
    color: #fff;
    cursor: pointer;
  }

  animation:opac 10s}@keyframes opac{from{opacity:0} to{opacity:1}
}
