.index {
  font-family: DM Serif Display;
  font-size: 28px;
  line-height: 38px;
  margin-right: 60px;
}

.header {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;;
  margin-bottom: 45px;
  margin-top: 15px;
  @include _viewport(small){
    margin-top: 8px;
    margin-bottom: 50px;  
    font-size: 32px;
    line-height: 40px;
  }

}

.box {
  .title {
    font-family: DM Serif Display;
    font-weight: normal;
    color: #F4F4F4;
    margin-bottom: 10px;

    font-size: 24px;
    line-height: 28px;
    @include _viewport(large){
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 20px;
    }
  }
  .description {
    font-family: DM Sans;
    font-style: normal;
    font-weight: medium;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #FBFCFF;

    @include _viewport(small){
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.01em;
    }
  }
}

