$TIMING: .4s;
$TRANSITION: linear;

.poppa-container-mobile{
  display: none;
}

.poppa-container{
  margin: 0 auto;

  &:hover > .logo{
    will-change: transform;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
  }

  .logo{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;

    transition: all $TIMING $TRANSITION;

  }

  width: 100%;
  height: 100%;
  position: relative
}
.poppa {
  border-radius: 50%;
  background: $orange;
  width: 400px;
  height: 350px;
}

.poppa-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  .poppa-letter{
    margin: 50px 0;
    box-sizing: border-box;

    will-change: transform;
    transition: transform $TIMING $TRANSITION;
    position: relative;
    z-index: 2;
    img {
      height: 80px;
    }
  }

}

@media (max-width: 768px){
  .poppa-container-mobile{
    display: block;
    text-align: center;
    padding-top: 40px;
    img {
      width: 80%;
    }
  }
  .poppa-container{
    display: none;
  }
}

// letters anim
// ============================================
.poppa-name {
  .div {
    display: inline-block;
    position: relative;
    padding: .5em .2em;
    will-change: transform;
  }
}
